.Form {
  border-style: solid;
  border-color: #5a6275;
  border-width: 1px;
  width: 250px;
}

.Button {
  color: #5a6aca;
  background-color: white;
  border-radius: 25px;
  border-style: solid;
  border-color: #5a6275;
  border-width: 1px;
  padding: 2px 8px;
  margin-left: 10px;
  transition: all 200ms ease-in-out;
}

.Button:hover {
  color: white;
  background-color: #5a6aca;
  border-color: white;
}
